<script type="text/javascript">


angular.module('app').controller('myCtrl', ['$scope', '$rootScope', '$http', '$sce', '$stateParams', '$location',
	function($scope, $rootScope, $http, $sce, $stateParams, $location) {
		
		$scope.data = {
			currentPage : 1
		}
		$scope.pageSize = $rootScope.pageSize ? $rootScope.pageSize : "10";
		$scope.Math=Math;
		$scope.basePath = '#'+$location.$$path;
		
		console.log($location);

		$scope.loadData = function () {
			
			$http({
				method : "POST",
				url : "/admin/api/mainPortfolio",
				data : {
					page : $scope.data.currentPage,
					pageSize : $scope.pageSize,
					searchText : $scope.searchText,
					branchCode : $scope.branchCode,
					portfolioField : $scope.portfolioField,
					portfolioType : $scope.portfolioType
				}
			}).success(function(data) {
				console.log(data);
				$scope.data = data; 
			});
		};
		
		$scope.pageChanged = function (idx){
			$scope.loadData();
		};
		
		$scope.search = function () {
			$scope.loadData();
		}		
		
		$scope.save = function () {
			
			$http({
				method : "POST",
				url : "/admin/api/mainPortfolio/save",
				data : {
					list : $scope.data.list2
				}
			}).success(function(data) {
				$scope.orderChanged = false;
				$scope.loadData();
			});
		};
		
		$scope.remove = function(index) {
			$scope.data.list2.splice(index, 1);	
			$scope.orderChanged = true;
		}
				
		$scope.sortableOptionsDest = {
			containment: '#sortable-container',
		    orderChanged: function (event) {
		    	$scope.orderChanged = true;
		    	
		    },
			accept: function (sourceItemHandleScope, destSortableScope, destItemScope) {
				if(sourceItemHandleScope.sortableScope == destSortableScope) return true;
				var portfolioId = sourceItemHandleScope.itemScope.modelValue.portfolioId;
				for(i=0;i<destSortableScope.modelValue.length;i++) {
					if(destSortableScope.modelValue[i].portfolioId == portfolioId) {
						return false;
					}
				}
				return true;
			}

		};
		
		$scope.sortableOptionsSrc = {
			containment: '#sortable-container',
		    itemMoved: function (event) {
		        $scope.orderChanged = true;
		        console.log($scope.data.list2);
		        
		        
		    },
		    clone: true
		};
			


	}]
);


</script>
<style>
.as-sortable-item, .as-sortable-placeholder {
	display: table-row !important;
}
.as-sortable-dragging {
    display: table !important;
    border-collapse: collapse; /* bootstrap table styling */
}

.as-sortable-dragging td {
    display: table-cell !important;
    padding: 8px; /* bootstrap table styling */
    line-height: 1.42857143; /* bootstrap table styling */
    vertical-align: top; /* bootstrap table styling */
}
</style>
<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">메인 포트폴리오 관리</h1>
</div>
<div class="wrapper-md" ng-controller="myCtrl" ng-init="loadData()">
	<div class="row" id="sortable-container">
		<div class="col-sm-6">
		

		
			<div class="panel panel-default">
				<div class="panel-heading">메인 노출 목록</div>
						
				<div class="row wrapper" ng-show="data.totalCount">
					<div class="col-sm-6 text-left">
					
						총 {{data.list2.length}} 건
					</div>
					<div class="col-sm-6 text-right">
			
					</div>
				</div>
				<div class="table-responsive">
		
				
					<table id="table-container" class="table table-striped b-t b-light">
					    <thead>
					    <tr>
								<th width="10%" class=text-center>No</th>
								<th width="20%" class=text-left>이름</th>
								<th width="60%" class=text-left>이미지</th>
								<th width="10%" class=text-center></th>
					    </tr>
					    </thead>
					    <tbody data-ng-model="data.list2" as-sortable="sortableOptionsDest" ng-style="data.list2.length === 0 && {'min-height':'47px','display':'block'}  || data.list2.length > 0 && {'display':'table-inline'}">
						    <tr ng-repeat="item in data.list2" as-sortable-item>
									<td class="text-center" as-sortable-item-handle >{{$index+1}}</td>
									<td class="text-left" as-sortable-item-handle>{{item.name}}</td>
									<td class="text-left"><img ng-src="{{item.AttachFile.url}}" style="width:480px;height:126px;"></td>
									<td>
										<a ng-click="remove($index)"><i class="fa fa-times text-danger text"></i></a>
						            </td>
						    </tr>
					    </tbody>
					</table>
				
				</div>
				<div class="row wrapper" ng-show="data.totalCount == 0">
					<div class="col-sm-12 text-center">
						등록/검색된 데이터가 없습니다.
					</div>
				</div>
				<footer class="panel-footer">
					<div class="row">
						<div class="col-sm-12 text-right">
						    <a class="btn btn-primary" ng-show="orderChanged" ng-click="save()">저장</a>
						</div>
					</div>
				</footer>
			</div>
		
		</div>
		<div class="col-sm-6">
		
		
			<div class="panel panel-default">
				<div class="panel-heading">전체 포트폴리오 목록</div>
					<div class="row wrapper">
						<div class="col-sm-8">
							<select class="input-sm form-control w-sm inline v-middle pull-left m-r-sm"
								ng-options="branch.branchCode as branch.branchName for branch in branches" 
								ng-selected="branchCode == branch.branchCode" 
								ng-model="branchCode" style="display:inline-block;">
								<option value="">지점</option>
							</select>
							<select class="input-sm form-control w-sm inline v-middle pull-left m-r-sm"
								ng-options="items.codeId as items.codeName for items in codes.PORTFOLIO_FIELD.list" 
								ng-selected="portfolioField == items.codeId" 
								ng-model="portfolioField" style="display:inline;">
								<option value="">분야</option>
							</select> 
							<select class="input-sm form-control w-sm inline v-middle pull-left"
								ng-options="items.codeId as items.codeName for items in codes.PORTFOLIO_TYPE.list" 
								ng-selected="portfolioType == items.codeId" 
								ng-model="portfolioType" required="required">
								<option value="">분류</option>
							</select>
						</div>
					
						<div class="col-sm-4 pull-right">
							<div class="input-group">
								<input type="text" class="input-sm form-control" ng-model="searchText"
									placeholder="검색어를 입력하세요."> <span class="input-group-btn">
									<button class="btn btn-sm btn-default" type="button" ng-click="search()">검색</button>
								</span>
							</div>
						</div>
					</div>
				<div class="row wrapper" ng-show="data.totalCount">
					<div class="col-sm-6 text-left">
					
						총 {{data.totalCount}} 건
					</div>
					<div class="col-sm-6 text-right">
			
					</div>
				</div>
				<div class="table-responsive">
		
				
					<table id="table-container" class="table table-striped b-t b-light">
					    <thead>
					    <tr>
								<th width="10%" class=text-center>No</th>
								<th width="20%" class=text-left>이름</th>
								<th width="70%" class=text-left>이미지</th>
					    </tr>
					    </thead>
					    <tbody data-ng-model="data.list" as-sortable="sortableOptionsSrc">
					    <tr ng-repeat="item in data.list" as-sortable-item>
								<td class="text-center" as-sortable-item-handle >{{data.totalCount - Math.floor((data.currentPage-1) * pageSize) - $index}}</td>
								<td class="text-left" as-sortable-item-handle>{{item.name}}</td>
								<td class="text-left"><a target="_blank"href="#/app/portfolio/portfolio/detail/{{item.portfolioId}}"><img ng-src="{{item.AttachFile.url}}" style="width:480px;height:126px;"></a></td>
					    </tr>
					    </tbody>
					</table>
				
				</div>
				<div class="row wrapper" ng-show="data.totalCount == 0">
					<div class="col-sm-12 text-center">
						등록/검색된 데이터가 없습니다.
					</div>
				</div>
				<footer class="panel-footer">
					<div class="row">
						<div class="col-sm-12 text-center">
						    <pagination boundary-links="true" class="m-t-none m-b-none"  ng-model="data.currentPage" max-size="10" total-items="data.totalCount" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="pageSize"></pagination>
						</div>
					</div>
				</footer>
			</div>
		
		</div>
	</div>
  

</div>
