<!-- 대표정보 -->
<span class="title-wrapper">
    <p class="title">정확한 분석과 정밀한 모델링으로 실무 감각을 익히는<strong>실무형 BIM건축설계전문가 양성!</strong></p>
    <p class="icons">
        <span><span class="front-text">Arch</span>itectural Design</span>
        <img src="../img/icon/plus_icon.jpg" alt="plus">
        <span><span class="front-text">Mode</span>ling</span>
    </p>
</span>

<!-- 교육과정소개 -->
<p class="lh30">
    <span class="br"><strong>차세대 BIM모델링은</strong> 건축설계에 필요한 각종 자료를 분석하고 </span>
    <span class="br">BIM(빌딩 정보 모델링)에 대한 개념과 건축구조에 대한 이론에 관련된 사항들을 이해하여</span>
    <span class="br">협력분야의 전문가와 상호 조정하여 설계목표와 의도에 적합하게 건물이 세워질 수 있도록</span>
    <span class="br">일련의 필요한 과정을 AutoCAD 프로그램 및 Revit을 통해 도면을 정밀하게 모델링 하고</span>
    <span class="br">성능을 최적화하며 효과적으로 공동 작업하여 시설물의 정보를 산출합니다.</span>
</p>

<span class="detail-subtitle"><strong>하이미디어</strong>의 차세대 BIM 모델링 과정은,</span>
<p class="lh23">
    <span class="br">차세대 BIM모델링전문가로서 도약할 수 있도록 건축설계도서작성 BIM설계, 건축계획 일반, 건축조형 및 경관 설계,</span>
    <span class="br">실내건축설계를 학습하여 건축설계에 있어 활용도를 높이고, 건축설계, 모델링의 실무 감각을 익히는데 목표가 있습니다.</span>
</p>

<!-- 과정구성내용 -->
<h2>한 눈에 보는 <strong>과정구성내용</strong></h2>
<div class="process-box scroll_table">
	<p class="scroll_tablenotice text-left pc_none"><span class="scroll_icon"></span> 좌우로 스크롤이 가능한 표입니다.</p>
	<div class="composition-box">
		<div class="step-box">
			<span class="step0 plan">기획</span>
			<span class="step2 design">설계</span>
			<span class="step5 produce">제작</span>
		</div>
		<ul>
			<li class="first-li">
				<div class="txt-box">
					<p class="tit">건축설계 도서작성</p>
					<ul class="con">
						<li>- 계획설계도면 작성하기</li>
						<li>- 기본설계도서 작성하기</li>
						<li>- 실시설계도서 작성하기</li>
					</ul>
                    <p class="tit">건축설계 조사 분석</p>
					<ul class="con">
						<li>- 자료 조사 분석하기</li>
						<li>- 대지 조사 분석하기</li>
						<li>- 법규 조사 검토하기</li>
					</ul>
				</div>
			</li>
			<li class="first-li">
				<div class="txt-box">
					<p class="tit">건축설계 기획</p>
					<ul class="con">
						<li>- 건축주 요구사항<br>검토하기</li>
						<li>- 설계목표 수립하기</li>
                        <li>- 설계개념 작성하기</li>
                        <li>- 스페이스 프로그램<br>작성하기</li>
                        <li>- 사업성 검토하기</li>
					</ul>
                    <p class="tit">프레젠테이션</p>
					<ul class="con">
						<li>- 프레젠테이션 기획하기</li>
						<li>- 프레젠테이션 작성하기</li>
                        <li>- 프레젠테이션 하기 </li>
					</ul>
				</div>
			</li>
			<li class="first-li">
				<div class="txt-box bdleft">
					<p class="tit">BIM설계</p>
					<ul class="con">
						<li>- BIM 준비하기</li>
						<li>- BIM 운용관리하기</li>
						<li>- BIM 작성하기</li>
                        <li>- BIM 활용하기</li>
					</ul>
                    <p class="tit">관계사 협력설계</p>
					<ul class="con">
						<li>- 협력설계 구성하기</li>
						<li>- 시스템대안 설정하기</li>
						<li>- 시뮬레이션 협의하기</li>
                        <li>- 분야별 설계도서 협의하기</li>
					</ul>
				</div>
			</li>
			<li class="first-li">
				<div class="txt-box">
					<p class="tit">건축평,입,단면 계획</p>
					<ul class="con">
						<li>- 동선계획하기</li>
						<li>- 평,입,단면 계획하기</li>
					</ul>
                    <p class="tit">건축배치 계획</p>
					<ul class="con">
						<li>- 마스터플랜 계획하기</li>
						<li>- 배치계획하기</li>
					</ul>
				</div>
			</li>
            <li class="first-li">
				<div class="txt-box">
					<p class="tit">건축조형 설계</p>
					<ul class="con">
						<li>- 공간조형 계획하기</li>
						<li>- 구조계획하기</li>
					</ul>
                    <p class="tit">건축경관 설계</p>
					<ul class="con">
						<li>- 건축경관환경 분석하기</li>
						<li>- 건축경관 설계하기</li>
					</ul>
				</div>
			</li>
			<li class="first-li">
				<div class="txt-box bdleft">
					<p class="tit">실내건축설계 도서작성</p>
					<ul class="con">
						<li>- 기획설계도면 작성하기</li>
						<li>- 기본설계도면 작성하기</li>
                        <li>- 실시설계도서 작성하기</li>
					</ul>
                    <p class="tit">실내건축설계 시각화</p>
					<ul class="con">
						<li>- 2D표현하기</li>
						<li>- 3D표현하기</li>
                        <li>- 모형제작하기</li>
					</ul>
				</div>
			</li>
		</ul>
		<table class="tool">
			<caption></caption>
			<colgroup></colgroup>
			<tbody>
				<tr>
					<td class="width2"><span class="mt15">OA</span></td>
					<td class="width4"><span>2D 그래픽 툴 / 3D 그래픽 툴 (3DMAX, AutoCAD) / OA</span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<p class="text-left">NCS학습모듈을 기반으로 최신트랜드를 익히는 실무수업으로 다년간 우수한 BIM건축설계전문가를 양성한 하이미디어만의 커리큘럼은, 학생의 목표에 맞는 차별화된 수업방식과 맞춤 작업으로 끝까지 남는 생명력 강한 BIM건축설계전문가를 양성하기 위해 힘쓰고 있습니다.</p>

<!-- 강의대상 -->
<h2>강의대상</h2>
<ul class="p4">
    <li>
        <div class="text-box">
            <p>Portfolio</p>
            <span>창의적인 포트폴리오를 만들고 싶은 분</span>
        </div>
    </li>
    <li>
        <div class="text-box">
            <p>Project</p>
            <span>백마디 말보다 제대로 된 프로젝트를 경험하고 싶은 분</span>
        </div>
    </li>
    <li>
        <div class="text-box">
            <p>Passion</p>
            <span>배우는 기간동안 자신의 열정을 쏟을 수 있는 분</span>
        </div>
    </li>
    <li>
        <div class="text-box">
            <p>Profession</p>
            <span>신입, 경력직의 건축, 토목분야의 엔지니어</span>
        </div>
    </li>
</ul>

<!-- 수료 후 전망 -->
<h2>수료 후 전망</h2>
<p>인테리어 사무소, 가구 및 소품 디자인 회사, 방송국 무대 세트, 디스플레이 회사, 인테리어 모형회사, 조명설계 사무소, 건축리모델링 회사, 건축 설계사무소, 건축 시공 및 감리회사, 건축 설비 회사, 건축 모형회사, 도시계획사 등 인테리어를 활용하는 모든 회사에서 인정받고 있는 전문 분야입니다. </p>
