<!-- 대표정보 -->
<span class="title-wrapper">
    <p class="title">문서작성을 이해하기 위해 기초부터 쉽고 재밌게 배우는<strong> 실무형 문서작성 기초과정</strong></p>
    <p class="icons">
        <span><span class="front-text">Basi</span>c</span>
        <img src="../img/icon/plus_icon.jpg" alt="plus">
        <span><span class="front-text">Easy</span></span>
        <img src="../img/icon/plus_icon.jpg" alt="plus">
        <span><span class="front-text">Prac</span>tice</span>
    </p>
</span>

<!-- 교육과정소개 -->
<p class="lh30">
   <span class="br"><strong>문서작성기초 과정은</strong> 일반적인 컴퓨터 활용 이론과 워드, 엑셀, 파워포인트 분야에 있어</span>
   <span class="br">평상시 자주 우리들이 접할 수 있는 적용 가능한 쉬운 예제로 적응 훈련을 하신 후에 점차 난이도를 높여가고</span>
   <span class="br">반복적인 기출문제 풀이와 최신 출제 경향을 분석하다 보면 단시간에 여러분들이 자격증을 따실 수 있는 수준이 되어있을 것입니다.</span>
   <span class="br">자격증을 따기 위한 학습과정은 사회에서 요구하는 컴퓨터 능력을 익히는 것이므로 결코 무의미한 시간이 되지 않을 것이며,</span>
   <span class="br">과정을 다 마칠 즈음에는 많이 향상된 본인의 컴퓨터 활용 능력과 문서작성 능력 자체에 큰 만족감과 자부심을 가져도 좋을 것입니다.</span>
</p>

<p class="icons infographic">
    <span>Word
        <span class="small-text">User <strong>Interface</strong></span>
    </span>
    <img src="../img/icon/plus_icon.jpg" alt="plus">
    <span>Excel
        <span class="small-text">User <strong>Experience</strong></span>
    </span>
    <img src="../img/icon/plus_icon.jpg" alt="plus">
    <span>PowerPoint
        <span class="small-text">User <strong>Experience</strong></span>
    </span>
</p>

<span class="detail-subtitle"><strong>하이미디어</strong>의 문서작성기초 과정은,</span>
<p class="lh23">
    <span class="br">집중적으로 단기간 내에 오피스 프로그램을 마스터 및 자격증을 취득하는 과정입니다.</span>
    <span class="br">하이미디어만의 노하우로 새롭게 배우는 수강생들까지 쉽게 학습할 수 있도록 하며,</span>
    <span class="br">기본 오피스 문서 시대의 서막을 주도해온 MOS 전문 자격증으로 문서작성의 달인이 될 수 있습니다.</span>
</p>

<!-- 과정구성내용 -->
<h2>한 눈에 보는 <strong>과정구성내용</strong></h2>
<div class="process-box scroll_table">
	<p class="scroll_tablenotice text-left pc_none"><span class="scroll_icon"></span> 좌우로 스크롤이 가능한 표입니다.</p>
	<div class="composition-box">
		<ul>
			<li class="first-li">
				<div class="txt-box">
					<p class="tit">워드</p>
					<ul class="con">
						<li>- 문서 작성 및 페이지 서식<br>방법 익히기</li>
                        <li>- 내용서식 방법 익히기</li>
						<li>- 시각적 내용 작성 내용구성</li>
                        <li>- 문서 및 데이터 병합 방법 익히기</li>
                        <li>- 문서 공유 및 보호 방법 익히기</li>
                        <li>- 관련 모의고사 풀이</li>
					</ul>
				</div>
			</li>
			<li class="first-li">
				<div class="txt-box bdleft">
					<p class="tit">엑셀</p>
					<ul class="con">
                        <li>- 데이터 입력 및 편집 및 <br>데이터 서식 방법 익히기</li>
                        <li>- 내용구성 방법 익히기</li>
                        <li>- 수식 작성 및 데이터의 시각화<br> 작업 방법 익히기</li>
                        <li>- 공동작업 및 데이터 보호 방법 익히기</li>
                        <li>- 관련 모의고사 풀이</li>
					</ul>
				</div>
			</li>
			<li class="first-li">
				<div class="txt-box bdleft">
					<p class="tit">파워포인트</p>
					<ul class="con">
                        <li>- 새 프레젠테이션 작성 및 <br>서식 변경 기능 익히기 </li>
                        <li>- 슬라이드 내용 작성 및 서식 기능 익히기</li>
                        <li>- 시각적인 내용 구성 익히기</li>
                        <li>- 공동 작업 및 배포 준비 방법 익히기</li>
                        <li>- 관련 모의고사 풀이</li>
					</ul>
				</div>
			</li>
		</ul>
		<table class="tool">
			<caption></caption>
			<colgroup></colgroup>
			<tbody>
				<tr>
					<td class="width1"><span class="mt15">Word</span></td>
                    <td class="width1"><span class="mt15">Excel</span></td>
                    <td class="width1"><span class="mt15">PowerPoint</span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- 강의대상 -->
<h2>강의대상</h2>
<ul class="p4">
    <li>
        <div class="text-box">
            <p>Practice</p>
            <span>사무업무에 기본문서 작성 및 시트작성이 어렵다고 생각되는 분</span>
        </div>
    </li>
    <li>
        <div class="text-box">
            <p>Purpose</p>
            <span>국제 공인 자격증을 취득해야 하는 분</span>
        </div>
    </li>
    <li>
        <div class="text-box">
            <p>Person</p>
            <span>오피스 프로그램을 처음 접하는 개인 사업자</span>
        </div>
    </li>
    <li>
        <div class="text-box">
            <p>Profession</p>
            <span>업무 성과를 높여 승진을 꿈꾸는 직장인</span>
        </div>
    </li>
</ul>

<!-- 수료 후 전망 -->
<h2>수료 후 전망</h2>
<p><strong>관련 자격증</strong></p>
<p>MOS 2013(2010)</p>
