<!-- 대표정보 -->
<span class="title-wrapper">
    <p class="title">웹프로그래밍에 꼭 필요한 개념과 연습을 통한<strong>실무형 웹개발자로의 한 걸음!</strong></p>
    <p class="icons">
        <span><span class="front-text">Java</span></span>
        <img src="../img/icon/plus_icon.jpg" alt="plus">
        <span><span class="front-text">C 언어</span></span>
        <img src="../img/icon/plus_icon.jpg" alt="plus">
        <span><span class="front-text">Prog</span>ramming</span>
    </p>
</span>

<!-- 교육과정소개 -->
<p class="lh30">
   <span class="br"><strong>웹개발자의 역할은</strong> 디지털기술을 기반으로 다양한 기기의 융합, 네트워크의 융합, 콘텐츠의 융합을 통해</span>
   <span class="br">새로운 형태의 웹애플리케이션이나 융합서비스를 창출하기 위하여, </span>
   <span class="br">컴퓨터 프로그래밍 언어로 클라이언트-서버 또는 웹데이터베이스, 웹어플리케이션의 설계를 구현하고,</span>
   <span class="br">제작, 운용 및 테스트 수행하는 기술을 함양하며, 표준프레임워크를 기반으로 웹어플리케이션을 구현 · 개발하는 것입니다.</span>
</p>

<p class="icons infographic">
    <span>JAVA
        <span class="small-text">Basic of <strong>Web Programming</strong></span>
    </span>
</p>

<span class="detail-subtitle"><strong>하이미디어</strong>의 웹개발자 양성 과정은,</span>
<p class="lh23">
    <span class="br">자신이 만들고 싶은 객체를 만드는 연습을 하면서 자바에서의 문법과 개념에 대한 학습을 통해 전체적인 자바 개념에 대한 완성을 목적으로 합니다.</span>
    <span class="br">처음 자바를 접하는 사람들을 위한 기본적인 설치 및 코딩 환경의 구축에서부터 시작하며 과정 내내 OOP에 대한 실습을 병행하여 </span>
    <span class="br">간단한 OOP프로그램을 제작하는 연습을 반복하여 OOP의 개념을 숙지하는 데 과정 목적이 있습니다. </span>
    <span class="br">객체지향 프로그래밍의 기초 단계를 완벽히 이해한 후 GUI 생성, 예외 처리, 파일 Input/Output 스레드와 네트워킹을 이해합니다.</span>
</p>

<!-- 과정구성내용 -->
<h2>한 눈에 보는 <strong>과정구성내용</strong></h2>
<div class="process-box scroll_table">
	<p class="scroll_tablenotice text-left pc_none"><span class="scroll_icon"></span> 좌우로 스크롤이 가능한 표입니다.</p>
	<div class="composition-box">
		<div class="step-box">
			<span class="step0 plan-design">기획/설계</span>
			<span class="step1 produce">제작</span>
			<span class="step2 implement">구현</span>
			<span class="step4 test-perform">테스트/수행</span>
		</div>
		<ul>
			<li class="first-li">
				<div class="txt-box">
					<p class="tit">UI기획설계</p>
					<ul class="con">
						<li>- UI 설계 확인하기</li>
						<li>- UI 구현하기</li>
					</ul>
				</div>
			</li>
			<li class="first-li">
				<div class="txt-box bdleft">
					<p class="tit">프로그래밍 언어 활용</p>
					<ul class="con">
						<li>- 기본문법 활용하기</li>
						<li>- 언어특성 활용하기</li>
                        <li>- 라이브러리 활용하기</li>
					</ul>
					<p class="tit">응용 SW 기초 기술 활용</p>
					<ul class="con">
						<li>- 운영체제 기초 활용하기</li>
                        <li>- 데이터베이스 기초 활용하기</li>
                        <li>- 네트워크 기초 활용하기</li>
                        <li>- 기본 개발환경 활용하기</li>
					</ul>
				</div>
			</li>
			<li class="first-li">
				<div class="txt-box bdleft">
					<p class="tit">데이터베이스 구현</p>
					<ul class="con">
						<li>- 개발환경 구축하기</li>
                        <li>- 공통 모듈 구축하기</li>
                        <li>- 서버 프로그램 구축하기</li>
                        <li>- 배치 프로그램  구축하기</li>
                        <li>- 개발자 단위 테스트하기</li>
                        <li>- 애플리케이션 성능 개선하기</li>
					</ul>
				</div>
			</li>
			<li class="first-li">
				<div class="txt-box">
					<p class="tit">SQL활용</p>
					<ul class="con">
						<li>- 기본 SQL 작성하기</li>
						<li>- 고급 SQL 작성하기</li>
					</ul>
                    <p class="tit">애플리케이션 구현</p>
                    <ul class="con">
                        <li>- 절차형 SQL 작성하기</li>
                        <li>- 응용 SQL 작성하기</li>
                    </ul>
				</div>
			</li>
			<li class="first-li">
				<div class="txt-box bdleft">
					<p class="tit">개발자 테스트</p>
					<ul class="con">
						<li>- 개발환경 구축하기</li>
						<li>- 공통 모듈 구현하기</li>
                        <li>- 서버 프로그램 구현하기</li>
					</ul>
				</div>
			</li>
			<li class="first-li">
				<div class="txt-box">
					<p class="tit">애플리케이션 테스트</p>
					<ul class="con">
                        <li>- 배치 프로그램 구현하기</li>
                        <li>- 개발자 단위 테스트하기</li>
					</ul>
                    <p class="tit">애플리케이션 배포</p>
					<ul class="con">
                        <li>- 애플리케이션 성능 개선하기</li>
                        <li>- 기본 SQL 작성하기</li>
                        <li>- 고급 SQL 작성하기</li>
                        <li>- 절차형 SQL 작성하기</li>
					</ul>
				</div>
			</li>
		</ul>
		<table class="tool">
			<caption></caption>
			<colgroup></colgroup>
			<tbody>
				<tr>
					<td class="width1"><span class="mt15">OA</span></td>
					<td class="width5"><span>HTML5 / CSS3 / Javascript / jQuery <br>프로그래밍</span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<p class="text-left">NCS학습모듈을 기반으로 최신기술을 익히는 실무수업으로 다년간 웹개발자를 양성한 하이미디어만의 커리큘럼은, 학생의 목표에 맞는 차별화된 수업방식과 맞춤 작업으로 끝까지 남는 생명력 강한 개발자를 양성하기 위해 힘쓰고 있습니다.</p>

<!-- 강의대상 -->
<h2>강의대상</h2>
<ul class="p4">
    <li>
        <div class="text-box">
            <p>Programming</p>
            <span>C언어를 학습하고 자바 프로그래밍 수강을 원하시는 분</span>
        </div>
    </li>
    <li>
        <div class="text-box">
            <p>Purpose</p>
            <span>JSP 웹 프로그래밍으로 진로를 희망하는 분</span>
        </div>
    </li>
</ul>

<!-- 수료 후 전망 -->
<h2>수료 후 전망</h2>
<p>메가존, 바이널, 팬타브리드, 미디어포스, 지오니드, 크림유니언, 아이티식스, 인터메이저 등 메이저급 웹 에이전시와 더불어 중견급 에이전시 취업이 가능합니다. 또한, 홈페이지를 가지고 있는 대한민국의 모든 기업 홍보실, 금융권, 쇼핑몰, 방송국, 언론사, 백화점, CF 방송 프로덕션 등 자바프로그래밍을 제대로 알고 있는 전문 인력을 기다리고 있습니다. </p>
