
<!-- 대표정보 -->
<span class="title-wrapper">
    <p class="title">물류·회계·인사 시스템과 프로세스를 효율적으로 관리하는 <strong>스마트물류시스템ERP 전문가 양성!</strong></p>
    <p class="icons">
        <span><span class="front-text">물류</span></span>
        <img src="../img/icon/plus_icon.jpg" alt="plus">
        <span><span class="front-text">회계</span></span>
        <img src="../img/icon/plus_icon.jpg" alt="plus">
        <span><span class="front-text">인사</span></span>
    </p>
</span>

<!-- 교육과정소개 -->
<p class="lh30">
    <span class="br"><strong>스마트물류시스템ERP 전문가 과정은</strong> 물류의 기본적인 이론을 바탕으로 영업, 자재, 구매, 무역관리 등</span>
    <span class="br">실무에 필요한 물류 프로세스에 대한 내용 등을 습득하고 고객에게 적기에 물건을 배송하는 물류정보시스템의 체계를 수립하고</span
    <span class="br">효율적인 화물운송관리와 보관시설의 보관중인 물품을 특성별 분류 및 관리하여 물동량을 파악하는 과정을 말합니다.</span>
    <span class="br">또한 고객의 요구사항에 맞는 하역관리를 하며 상품의 가치와 상태를 유지하고 원가의 개념 및 부가가치세, 소득세, 법인세 등 관리회계,</span>
    <span class="br">세무회계에 대한 전반적인 물류회계 내용 등을 습득하여 실무에서 활용할 수 있는 능력을 함양하는데 목표를 가지고 있습니다.</span>
</p>


<p class="icons infographic">
    <span>Mentoring
        <span class="small-text">전문 <strong>강사진</strong></span>
    </span>
    <img src="../img/icon/plus_icon.jpg" alt="plus">
    <span>Supporting
        <span class="small-text">취업 <strong>지원 센터</strong></span>
    </span>
</p>

<span class="detail-subtitle"><strong>하이미디어</strong>의 스마트물류시스템ERP 전문가 과정은,</span>
<p class="lh23">
    <span class="br">현업에 종사하는 전문가 및 우수한 강사진으로부터 기초와 개념 뿐만 아니라 다양한 응용과정을 통해</span>
    <span class="br">심도 깊고 실무적인 과정이 될 수 있도록 다방면으로 연구하며 힘쓰고 있습니다.</span>
    <span class="br">또한 최신의 실습실과 기자재로 구성된 환경을 제공하여 질 높은 교육과 수업을 진행하고 있으며</span>
    <span class="br">하이미디어만의 노하우로 전공자들 뿐만 아니라 새롭게 배우는 수강생들까지 쉽게 학습할 수 있습니다.</span>
    <span class="br">본 교육과정을 통해서 쉽고 빠르게 자격증을 취득시기 바랍니다.</span>
</p>

<!-- 과정구성내용 -->
<h2>한 눈에 보는 <strong>과정구성내용</strong></h2>
<div class="process-box scroll_table">
	<p class="scroll_tablenotice text-left pc_none"><span class="scroll_icon"></span> 좌우로 스크롤이 가능한 표입니다.</p>
	<div class="composition-box">
		<ul>
			<li class="first-li">
				<div class="txt-box">
					<p class="tit">육상/항공/해상/복합 관리</p>
					<ul class="con">
                        <li>- 육상운송관리</li>
                        <li>- 항공운송관리</li>
                        <li>- 해상운송관리</li>
                        <li>- 복합운송관리</li>
                    </ul>
				</div>
			</li>
			<li class="first-li">
				<div class="txt-box bdleft">
					<p class="tit">물류정보시스템과 <br>물류효율성과 관리</p>
					<ul class="con">
                        <li>- 물류효율성과 관리</li>
                        <li>- 물류정보시스템활용</li>
					</ul>
				</div>
			</li>
            <li class="first-li">
				<div class="txt-box bdleft">
					<p class="tit">전표관리/원가계산/결산관리</p>
					<ul class="con">
                        <li>- 전표관리</li>
                        <li>- 원가계산</li>
                        <li>- 결산관리</li>
					</ul>
				</div>
			</li>
            <li class="first-li">
				<div class="txt-box bdleft">
					<p class="tit">회계정보 시스템 운용</p>
					<ul class="con">
                        <li>- 회계정보 시스템 운용</li>
					</ul>

                    <p class="tit">부가가치세 신고</p>
					<ul class="con">
                        <li>- 부가가치세 신고</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</div>
<p class="text-left">NCS학습모듈을 기반으로 최신트랜드를 익히는 실무수업으로 다년간 우수한 물류시스템(ERP) 전문가를 양성한 하이미디어만의 커리큘럼은, 학생의 목표에 맞는 차별화된 수업방식과 맞춤 작업으로 끝까지 남는 생명력 강한 물류시스템(ERP) 전문가를 양성하기 위해 힘쓰고 있습니다.</p>

<!-- 강의대상 -->
<h2>강의대상</h2>
<ul class="p4">
    <li>
        <div class="text-box">
            <p>Prime</p>
            <span>비전공자로 이제 막 관련 분야에 입문한 수강생</span>
        </div>
    </li>
    <li>
        <div class="text-box">
            <p>Purpose</p>
            <span>전산세무/회계 자격증 취득을 목표인 분</span>
        </div>
    </li>
    <li>
        <div class="text-box">
            <p>Practice</p>
            <span>현직 관련 실무자로, 명확한 물류/인사/회계 원리를 파악하고자 하는 분</span>
        </div>
    </li>
    <li>
        <div class="text-box">
            <p>Profession</p>
            <span>관련 학과를 졸업하고 해당 분야의 취업/이직을 희망하는 분</span>
        </div>
    </li>
</ul>

<!-- 수료 후 전망 -->
<h2>수료 후 전망</h2>
<p>기업체 물류시스템 담당자, 중소기업체 물류시스템 담당자, 비영리 법인 등의 물류 담당자, 경영자문회사의 전문가, 기업체 ERP회계/인사 운용 전문가 등의 세무/회계 전문 인력을 필요로 하는 모든 곳 등</p>
