<!-- 대표정보 -->
<span class="title-wrapper">
    <p class="title">정확한 지식과 효과적이고 체계적인 업무 능력을 키우는<strong>실무형 정보보안 전문가 양성 교육!</strong></p>
    <p class="icons">
        <span><span class="front-text">Know</span>ledge</span>
        <img src="../img/icon/plus_icon.jpg" alt="plus">
        <span><span class="front-text">Effe</span>ctive</span>
        <img src="../img/icon/plus_icon.jpg" alt="plus">
        <span><span class="front-text">Syst</span>ematic</span>
    </p>
</span>

<!-- 교육과정소개 -->
<p class="lh30">
   <span class="br"><strong>정보보안 전문가의 역할은</strong> 보안위협으로부터 정보자산을 보호하기 위해 구축된 보안 시스템을 통하여</span>
   <span class="br">보안위협을 탐지, 분석, 대응하고 사후 처리하는 것입니다.</span>
   <span class="br">또한 물리적 보호구역을 지정하고, 시스템을 보호하며, 사무실 보안을 구축하는 능력과</span>
   <span class="br">정의된 보안요구사항에 적합하게 응용프로그램 보안, 서버보안, 네트워크 보안, 테이터베이스(DB)보안을 설계, 구현, 테스트하는</span>
   <span class="br">능력을 함양하여 보안엔지니어링에 대한 전반적인 업무 능력을 수행합니다.</span>
</p>

<span class="detail-subtitle"><strong>하이미디어</strong>의 정보보안 전문가 양성 과정은,</span>
<p class="lh23">
    <span class="br">네트워크 등 정보통신과 관련된 지식을 배워 조직의 정보 자산을 보안계획에 따라 관리적, 물리적, 기술적 보안관점에서 효율적으로 구축하고</span>
    <span class="br">시스템 및 솔루션 개발, 운영 및 관리, 컨설팅 등의 능력을 기반으로 IT기반 시설 및 정보에 대한 체계적인 보안 업무를</span>
    <span class="br">효과적으로 관리 통제 보호하는 업무 능력을 함양시키는 데 목표를 둡니다.</span>
</p>

<!-- 과정구성내용 -->
<h2>한 눈에 보는 <strong>과정구성내용</strong></h2>
<div class="process-box scroll_table">
	<p class="scroll_tablenotice text-left pc_none"><span class="scroll_icon"></span> 좌우로 스크롤이 가능한 표입니다.</p>
	<div class="composition-box">
		<div class="step-box">
			<span class="step0 manage">관리</span>
			<span class="step1 build">구축</span>
            <span class="step2 design">설계</span>
            <span class="step3 manage">관리</span>
		</div>
		<ul>
			<li class="first-li">
				<div class="txt-box">
					<p class="tit">보안위협 관리</p>
					<ul class="con">
						<li>- 보안위협 탐지하기</li>
						<li>- 보안위협 분석하기</li>
                        <li>- 보안위협 대응하기</li>
                        <li>- 사후처리하기</li>
					</ul>
				</div>
			</li>
			<li class="first-li">
				<div class="txt-box bdleft">
					<p class="tit">물리적 보안 구축</p>
					<ul class="con">
						<li>- 물리적 보호구역 통제하기</li>
						<li>- 시스템 보호하기</li>
                        <li>- 사무실 보안 구축하기</li>
					</ul>
					<p class="tit">기술적 보안 구축</p>
					<ul class="con">
						<li>- 응용프로그램 보안 구축하기</li>
                        <li>- 서버 보안 구축하기</li>
                        <li>- 네트워크 보안 구축하기</li>
                        <li>- 데이터베이스(DB)보안<br>구축하기</li>
					</ul>
				</div>
			</li>
			<li class="first-li">
				<div class="txt-box bdleft">
					<p class="tit">Data base 설계</p>
					<ul class="con">
						<li>- 하드웨어/소프트웨어<br>시스템운용</li>
                        <li>- 업무연속성 계획(BCP)</li>
                        <li>- DB 설계/구현</li>
					</ul>
				</div>
			</li>
			<li class="first-li">
				<div class="txt-box bdleft">
					<p class="tit">네트워크 보안관리</p>
					<ul class="con">
						<li>- 관리적보안 수행하기</li>
						<li>- 물리적보안 수행하기</li>
                        <li>- 기술적보안 수행하기</li>
					</ul>
				</div>
			</li>
		</ul>
		<table class="tool">
			<caption></caption>
			<colgroup></colgroup>
			<tbody>
				<tr>
					<td class="width1"><span class="mt15">OA / Wireshark</span></td>
                    <td class="width1"><span class="mt15">OA</span></td>
                    <td class="width1"><span class="mt15">java_Eclipse / mysql / OA</span></td>
                    <td class="width1"><span class="mt15">Smart2 / mysql / Wireshark</span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<p class="text-left">NCS학습모듈을 기반으로 최신기술을 익히는 실무수업으로 다년간 정보보안 전문가를 양성한 하이미디어만의 커리큘럼은, 학생의 목표에 맞는 차별화된 수업방식과 맞춤 작업으로 끝까지 남는 생명력 강한 정보보안 전문가를 양성하기 위해 힘쓰고 있습니다.</p>

<!-- 강의대상 -->
<h2>강의대상</h2>
<ul class="p2">
    <li>
        <div class="text-box">
            <p>Programming</p>
            <span>정보통신과 관련된 지식을 학습하고 보안 계획에 따른 시스템 구축/개발 수업을 원하시는 분</span>
        </div>
    </li>
    <li>
        <div class="text-box">
            <p>Purpose</p>
            <span>정보보안 분야로 취업을 희망하는 분</span>
        </div>
    </li>
</ul>

<!-- 수료 후 전망 -->
<h2>수료 후 전망</h2>
<p>기업체 및 공공기관의 정보보안팀, 정보보안 서비스 업체, 은행 및 증권회사의 보안팀, 정보보호 전문기업 등</p>
