<!-- 대표정보 -->
<span class="title-wrapper">
    <p class="title">정확한 개념과 다양한 응용 과제로 실무 감각을 익히는<strong>실무형 오토캐드 교육!</strong></p>
    <p class="icons">
        <span><span class="front-text">Aide</span>d Design</span>
        <img src="../img/icon/plus_icon.jpg" alt="plus">
        <span><span class="front-text">Aide</span>d Drafting</span>
    </p>
</span>

<!-- 교육과정소개 -->
<p class="lh30">
   <span class="br"><strong>오토캐드 (Auto CAD)과정은</strong> Auto CAD (Computer Aided Design의 약자)라는</span>
   <span class="br">응용 소프트웨어를 이용하여 2차원·3차원의 디자인과 제도를 컴퓨터로 보다 쉽고 정확하게 제도할 수 있도록 </span>
   <span class="br">정확한 개념을 다지고 정밀한 설계를 응용하여 실무에 필요한 능력을 배우는 과정입니다.</span>
   <!-- <span class="br">본 과정을 수료하면 다양한 00 분야에서 실무 경험을 쌓을 수 있으며 매우 전망이 높은 분야입니다.</span> -->
</p>

<span class="detail-subtitle"><strong>하이미디어</strong>의 오토캐드 과정은,</span>
<p class="lh23">
    <span class="br">현업에 종사하는 전문가 및 우수한 강사진으로부터 기초와 개념 뿐만 아니라 다양한 응용과정을 통해</span>
    <span class="br">심도 깊고 실무적인 과정이 될 수 있도록 다방면으로 연구하며 힘쓰고 있습니다.</span>
    <span class="br">또한 최신의 실습실과 기자재로 구성된 환경을 제공하여 질 높은 교육과 수업을 진행하고 있으며</span>
    <span class="br">하이미디어만의 노하우로 전공자들 뿐만 아니라 새롭게 배우는 수강생들까지 쉽게 학습할 수 있습니다.</span>
    <span class="br">본 교육과정을 통해서 최고의 전문가가 되어 보시기 바랍니다.</span>
</p>

<!-- 과정구성내용 -->

<!-- 강의대상 -->
<h2>강의대상</h2>
<ul class="p4">
    <li>
        <div class="text-box">
            <p>Portfolio</p>
            <span>창의적인 포트폴리오를 만들고 싶은 분</span>
        </div>
    </li>
    <li>
        <div class="text-box">
            <p>Project</p>
            <span>백 마디 말보다 제대로 된 프로젝트를 경험하고 싶은 분</span>
        </div>
    </li>
    <li>
        <div class="text-box">
            <p>Passion</p>
            <span>배우는 기간 동안 자신의 열정을 쏟을 수 있는 분</span>
        </div>
    </li>
    <li>
        <div class="text-box">
            <p>Profession</p>
            <span>관련 종사자로, 또 다른 도약을 원하는 분</span>
        </div>
    </li>
</ul>

<!-- 수료 후 전망 -->
<h2>수료 후 전망</h2>
<p><strong>취업분야</strong></p>
<p>건축 설계, 실내건축, 실내건축 디자인, 조경, 건축 조형 및 경관 설게, 인테리어 관련 업체, 혹은 오토캐드를 이용하여 도면은 제작하는 업체 등 관련 분야</p><br>
<p><strong>자격증</strong></p>
<p>ATC 1, 2급 자격증</p>
