<!-- 대표정보 -->
<span class="title-wrapper">
    <p class="title">컴퓨터 사무 업무의 기본 소양과 문서작성을 이해하기 위한<strong> 실무형 ITQ 자격증 과정</strong></p>
    <p class="icons">
        <span><span class="front-text">Basi</span>c</span>
        <img src="../img/icon/plus_icon.jpg" alt="plus">
        <span><span class="front-text">Easy</span></span>
        <img src="../img/icon/plus_icon.jpg" alt="plus">
        <span><span class="front-text">Prac</span>tice</span>
    </p>
</span>

<!-- 교육과정소개 -->
<p class="lh30">
   <span class="br"><strong>MS 프로그램은</strong> 실생활에 기본 소양 능력이 된 만큼 학업, 업무분야에 있어서 </span>
   <span class="br">기본적인 프로그램들이 될 만큼 우리의 생활에 밀접한 프로그램입니다. </span>
   <span class="br">이제는 오피스 문서 작성으로 인해 모든 사무(업무)는 자동화되어 있습니다.</span>
   <span class="br">이에 따라 프로그램입문자들을 위하여 문서 및 데이더 편집/관리에 능한</span>
   <span class="br">Excel, Access, Power point의 전문 자격증을 취득하여 직장 생활에서의 가치를 스스로 느낄 수 있는 교육과정입니다.</span>
</p>

<p class="icons infographic fontsize55">
    <span>Office Master
            <span class="small-text">오피스 <strong>사무전문가</strong></span>
    </span>
</p>

<span class="detail-subtitle"><strong>하이미디어</strong>의 ITQ 자격증 과정은,</span>
<p class="lh23">
    <span class="br">집중적으로 단기간 내에 오피스 프로그램을 마스터 및 자격증을 취득하는 과정입니다.</span>
    <span class="br">하이미디어만의 노하우로 새롭게 배우는 수강생들까지 쉽게 학습할 수 있도록 하며,</span>
    <span class="br">기본 오피스 문서 시대의 서막을 주도해온 MOS 전문 자격증으로 문서작성의 달인이 될 수 있습니다.</span>
</p>

<!-- 과정구성내용 -->
<h2>한 눈에 보는 <strong>과정구성내용</strong></h2>
<div class="process-box scroll_table">
	<p class="scroll_tablenotice text-left pc_none"><span class="scroll_icon"></span> 좌우로 스크롤이 가능한 표입니다.</p>
	<div class="composition-box">
		<ul>
            <li class="first-li">
				<div class="txt-box">
					<p class="tit">엑셀기초</p>
					<ul class="con">
						<li>- 데이터입력과 편집</li>
                        <li>- 수식입력과 편집</li>
						<li>- 셀서식</li>
                        <li>- 화면보기와 인쇄</li>
                        <li>- 기초함수</li>
					</ul>
				</div>
			</li>
			<li class="first-li">
				<div class="txt-box bdleft">
					<p class="tit">엑셀활용</p>
					<ul class="con">
                        <li>- 실무함수1</li>
                        <li>- 실무함수2</li>
                        <li>- 데이터관리와 분석</li>
                        <li>- 차트</li>
                        <li>- 매크로와 VBA</li>
					</ul>
				</div>
			</li>
        </ul>
	</div>
</div>

<!-- 강의대상 -->
<h2>강의대상</h2>
<ul class="p4">
    <li>
        <div class="text-box">
            <p>Practice</p>
            <span>사무업무에 기본문서 작성 및 시트작성이 어렵다고 생각되는 분</span>
        </div>
    </li>
    <li>
        <div class="text-box">
            <p>Purpose</p>
            <span>국제 공인 자격증을 취득해야 하는 분</span>
        </div>
    </li>
    <li>
        <div class="text-box">
            <p>Person</p>
            <span>오피스 프로그램을 처음 접하는 개인 사업자</span>
        </div>
    </li>
    <li>
        <div class="text-box">
            <p>Profession</p>
            <span>업무 성과를 높여 승진을 꿈꾸는 직장인</span>
        </div>
    </li>
</ul>

<!-- 수료 후 전망 -->
<h2>수료 후 전망</h2>
<p><strong>관련 자격증</strong></p>
<p>MOS 2013(2010)</p>
